.CardService {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: none;
}
.CardService-front {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 350px;
  aspect-ratio: 16/9;
  max-width: 80%;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.CardService-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 16/11;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #222;
  border-radius: 20px;
  box-shadow: 0 0 0 5px #ffffff80;
  transform: rotateX(-90deg);
  transform-origin: top;
}
.CardService:hover {
  transform: scale(1.05);
  border-radius: 20px;
}
.CardService:hover .CardService-back {
  transform: rotateX(0deg);
  transform: translateY(0);
}
.CardService:hover .CardService-icon .CardService-title {
  transform: scale(0);
}

.CardService-icon,
.CardService-iconTbh,
.CardService-iconTba {
  margin-bottom: 20px;
  margin-top: 10px;
}

.CardService-icon {
  width: 48px;
  font-size: 4em;
  fill: white;
}

.CardService-iconTbh {
  width: 60px;
  height: 60px;
  color: white;
}

.CardService-iconTba {
  font-size: 10em;
  color: white;
}

.CardService-title,
.CardService-description {
  color: rgb(255, 255, 255);
}

.CardService-title {
  font-family: "Juventus Fans Bold", sans-serif;
  font-size: 2em;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.CardService-description {
  text-align: start;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  white-space: pre-line;
  padding: 10px 20px 10px 30px;
}

.CardService-button {
  width: 100%;
  border-radius: 0 0 20px 20px;
  padding: 15px;
  background: #7cf909;
  border: none;
  color: black;
  font-family: "Juventus Fans Bold", sans-serif;
  font-size: 2em;
  cursor: pointer;
}
.CardService-button:hover {
  background-color: #00aae9;
}

@media screen and (max-width: 768px) {
  .CardService-back {
    width: 312px;
    left: 8%;
  }
}