.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.carousel-image {
  width: 500px;
  height: 300px;
  object-fit: contain;
  padding: 10px;
}
.Clients h2 {
  font-size: 3em;
}
.carousel-button {
  height: 50px;
  width: 50px;
  font-size: 3em;
  font-weight: bold;
  margin: 10px;
  color: #222;
  border: solid 1px #7cf909;
  border-radius: 50px;
}
