.Footer-container {
  display: flex;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  font-family: "Juventus Fans Bold", sans-serif;
  font-size: 1.2em;
  padding: 1em;
}
.Footer-container .social p {
  font-size: 1.5em;
}

.Footer-container .social,
.Footer-container .direction,
.Footer-container .mail,
.Footer-container .wsp-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Footer-container .social-icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 10px;
}
.Footer-container .IG,
.Footer-container .FB,
.Footer-container .wsp-number,
.Footer-container .location,
.Footer-container .envelope {
  fill: rgb(255, 255, 255);
}
.Footer-container .IG,
.Footer-container .FB,
.Footer-container .WSP {
  height: 3.5rem;
  width: 70%;
}
.Footer-container .contact-data {
  display: flex;
  align-items: stretch;
  width: 50%;
  justify-content: space-between;
}
.Footer-container .location,
.Footer-container .envelope {
  width: 25%;
  height: 2.8rem;
}
.Footer-container .mail,
.Footer-container .wsp-icon {
  text-decoration: none;
}
.Footer-container .mail p,
.Footer-container .wsp-number p {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
  .Footer-container {
    flex-direction: column;
    font-size: 1em;
  }
  .social-icons {
    justify-content: center;
  }
  .Footer-contact {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
  }
  .Footer-direction {
    display: none;
  }
}
