.Form-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  border: 5px solid white;
  padding: 20px 40px 40px 40px;
  border-radius: 20px;
  position: relative;
  width: 50%;
  margin-left: 40px;
  color: white;
  font-family: Verdana, Tahoma, sans-serif;
}
.Form-container h3 {
  text-align: center;
  font-family: "Juventus Fans Bold", sans-serif;
  font-size: 2em;
  margin-bottom: 10px;
}

.Form-label {
  display: block;
  margin-bottom: 5px;
}

.Form-input[type="text"],
.Form-input[type="email"],
.Form-textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 98%;
}

.Form-textarea {
  height: 150px;
}
.button-container {
  text-align: center;
}

button[type="submit"] {
  background-color: #a5ae9d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  font-size: 1em;
}

button[type="submit"]:hover {
  background-color: #00aae9;
}

@media screen and (max-width: 768px) {
  .Form-container {
    margin-left: 10px;
    width: 80%;
    padding: 10px 20px 20px 20px;
  }
  .Form-input[type="text"],
  .Form-input[type="email"],
  .Form-textarea {
    width: 95%;
  }
  button[type="submit"] {
    font-size: 0.8em;
  }
}
