.Form-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  border: 1px solid white;
  padding: 50px;
  border-radius: 20px;
  position: relative;
  width: 50%;
  margin-left: 40px;
  color: white;
  font-family: Verdana, Tahoma, sans-serif;
  }
  
  .Form-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .Form-input[type="text"],
  .Form-input[type="email"],
  .Form-textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 98%;
  }
  
  .Form-textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    background-color: #0077cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
 }
  
  button[type="submit"]:hover {
    background-color: #005fa3;
  }