.Form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .Form-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .Form-input[type="text"],
  .Form-input[type="email"],
  .Form-textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .Form-textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    background-color: #0077cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #005fa3;
  }