.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
  font-family: "Juventus Fans Bold", sans-serif;
}
.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.logo {
  width: 3em;
}

.navbar-menu {
  display: none;
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.menu-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-right: 1rem;
  font-family: "Juventus Fans Bold", sans-serif;
  z-index: 1;
}

.nav-link {
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 2em;
  }
  .navbar-menu {
    display: block;
    z-index: auto;
  }
  .nav-link {
    font-size: 1rem;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: -100%;
    width: 100%;
    background-color: #000000;
    box-shadow: #333;
    z-index: auto;
  }

  .nav-menu.active {
    left: 0;
    z-index: auto;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    border-bottom: solid 1px #ccc;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
    opacity: 0;
  }

  .nav-link {
    font-size: 1rem;
    color: #fff8f8;
    text-decoration: none;
  }
}
