 h2 {
  font-size: 3em;
  margin: 10px 0 10px 0;
}
.Services-container, .Work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.CardService-container, .WorkCard-container {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: relative;
  overflow: visible;
  margin: 20px;
}
.WorkCard-container {
  width: 40%;
  margin: 5px;
}
.Services-container .CardService-container {
  margin-top: 20px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Services-container .CardService-container:hover {
  z-index: 2;
  margin-bottom: 90px;
  margin-top: 40px;
}
.Clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .Work-container{
    flex-direction: column;
    align-items: center;
  }
  .WorkCard-container {
    width: 80%;
  }
  h2 {
    margin: 0 10px 0 10px;
  }
}